.heroinnerbox{
    width: 95%;
    max-width: 1400px;
    height: fit-content;
    min-height: 700px;
    background-color: rgba(238,235,254,255);
    border-radius: 30px;
    justify-content: space-between;
    padding: 70px;
}
.herobox{
    width: 100%;
    height: fit-content;
    padding: 10px;
}
.textcontainer{
    align-items: flex-start;
    max-width: 550px;
    width: 100%;
}
.aheadapp{
    font-size: 20px;
}
.heading{
    font-size: 4rem;
    font-weight: 900;
}
.animations{
    min-width: 600px;
}
.backoutercircle{
    width: 600px;
    height: 600px;
    border: dashed rgb(185, 185, 185) 2px;
    border-radius: 50%;
    position: relative;
}
.backcircle{
    height: 400px;
    width: 400px;
    background-color: #ddd6f8;
    border-radius: 50%;
}
.phonecont{
    display: flex;
    align-items: center;
}
.purpleslug{
    position: absolute;
    left: 75px;
    top: 470px;
    scale: 1.2;
}
.smpurpleslug{
    position: absolute;
    left: -38px;
    rotate: 175deg;
    top: 250px;
    scale: 0.3;
}
.blueslug{
    position: absolute;
    top: 5px;
    left: 115px;
    scale: 1.2;
}
.smblueslug{
    position: absolute;
    scale: 0.4;
    top: 15px;
    right: 90px;
    rotate: -30deg;
}
.redslug{
    scale: 1.2;
    position: absolute;
    right: -25px;
    top: 240px;
}
.smredslug{
    color: transparent;
    position: absolute;
    scale: 0.4;
    bottom: 15px;
    right: 110px;
    rotate: 40deg
}