@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 4px;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.juststart{
  justify-content: flex-start;
}
.alstart{
  align-items: flex-start;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.button{
  height: 60px;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: white; 
}
::-webkit-scrollbar-thumb {
  background: rgba(100,65,243,255); 
  border-radius: 10px;
}
